<head>
  {{
    title
  }}
</head>
<body>
  <header>
    <a class="logo"><span>FRAFINA</span>GOUNDO</a>
  </header>
  <section class="banniere" id="banniere">
    <div class="contenu">
      <h2>La cuisine Africaine sous ses meilleurs jours!</h2>
      <h1 id="rectangle-blanc">
        Nous vous proposons des plats de tous les pays
        d'Afrique(Mali,Senegal,Côte D'Ivoire...) et d'ailleurs. Des produits
        frais et de bonne qualités c'est ce que nous utilisons pour vous offrir
        les meilleurs repas chauds et savoureux.
      </h1>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col50">
        <h2 class="titre-texte"><span>N</span>otre histoire</h2>
        <p>
          <span id="colororangemini">FRAFINA GOUNDO</span> a été fondée par une
          jeune femme nommée <span id="colororangemini">DEMBELE Oumou</span>.

          <span id="colororange">"</span>Durant mes études j'ai travaillé comme
          stagiaire développeuse web au sein d'une grande entreprise. Mon stage
          et mon alternance dans cette entreprise m'ont permis de réaliser des
          projets importants, qui ont contribué à mon développement
          professionnel et personnel.Après l'obtention de mon master, j'ai
          integré cette même entrepeise en tant que developpeuse web puis comme
          chef de projet durant de longues années. Cependant, j'ai choisi de
          poursuivre mes aspirations entrepreneuriales et j'ai créé
          <span id="colororangemini">FRAFINA GOUNDO</span>, une entreprise qui
          est aujourd'hui bien plus qu'un simple restaurant.
          <span id="colororangemini">FRAFINA GOUNDO</span> a vu le jour au Mali
          et s'est étendue dans le monde entier. Nous proposons une large
          variété de plats africains, européens, asiatiques, et bien d'autres
          encore. Nous sommes fiers de notre offre diversifiée et nous nous
          engageons à servir nos clients avec plaisir et professionnalisme. Je
          suis reconnaissant de l'opportunité qui m'a été offerte au sein de mon
          entreprise précédente, mais je suis encore plus fier d'avoir créé une
          entreprise qui répond à mes aspirations entrepreneuriales. Si vous
          cherchez un endroit pour déguster des plats délicieux et variés, je
          vous invite à réserver une table ou passer une commande chez
          <span id="colororangemini">FRAFINA GOUNDO</span>. Nous sommes
          impatients de vous servir !
          <span id="colororange">"</span>
        </p>
      </div>
      <div class="col50">
        <div class="img">
          <img src="../assets/images/image_DEMBELE.png" alt="image" />
        </div>
      </div>
    </div>
  </section>
  <section class="menu" id="menu">
    <div class="titre">
      <h2 class="titre-texte"><span>M</span>enu</h2>
      <p>
        Nous vous proposons des menus diversifiés afin de vous satisfaire le
        mieux!
      </p>
    </div>
    <div class="contenu">
      <div class="box">
        <div class="imbox">
          <img src="../assets/images/atiékésaucevinegrette.png" alt="" />
        </div>
        <div class="text">
          <h3>Attiéké à la sauce vinegrette</h3>
        </div>
      </div>
      <div class="box">
        <div class="imbox">
          <img src="../assets/images/fruits.jpg" alt="" />
        </div>
        <div class="text">
          <h3>Salade de fruits</h3>
        </div>
      </div>
      <div class="box">
        <div class="imbox">
          <img src="../assets/images/mafé.PNG" alt="" />
        </div>
        <div class="text">
          <h3>Special mafé</h3>
        </div>
      </div>
      <div class="box">
        <div class="imbox">
          <img src="../assets/images/flan-cambodgien-1024x1024.jpg" alt="" />
        </div>
        <div class="text">
          <h3>Flan</h3>
        </div>
      </div>
      <div class="box">
        <div class="imbox">
          <img src="../assets/images/poissonfruité.jpg" alt="" />
        </div>
        <div class="text">
          <h3>Poisson aux légumes</h3>
        </div>
      </div>
      <div class="box">
        <div class="imbox">
          <img src="../assets/images/degue.jfif" alt="" />
        </div>
        <div class="text">
          <h3>Special degué</h3>
        </div>
      </div>
      <div class="box">
        <div class="imbox">
          <img
            src="../assets/images/Sauce-graine-36-copie-1024x683.jpg"
            alt=""
          />
        </div>
        <div class="text">
          <h3>Sauce graine</h3>
        </div>
      </div>
      <div class="box">
        <div class="imbox">
          <img src="../assets/images/tiramissu+fruitsrouges.jpg" alt="" />
        </div>
        <div class="text">
          <h3>tiramisu fruits rouges</h3>
        </div>
      </div>
    </div>
    <div class="titre">
      <button class="btn1">Voir Plus</button>
    </div>
  </section>
  <section class="expert" id="expert">
    <div class="titre">
      <h2 class="titre-texte">Nos <span>E</span>xperts</h2>
      <p>
        Nos experts venant du Mali,Senegal,France,Vietnam... vous prepare avec
        amour vos delicieux menus.
      </p>
    </div>
    <div class="contenu">
      <div class="box">
        <div class="imbox">
          <img src="../assets/images/expert1.jpg" alt="" />
        </div>
        <div class="text">
          <h3>COULIBALY Kadidiatou</h3>
        </div>
      </div>
      <div class="box">
        <div class="imbox">
          <img src="../assets/images/expertt2.jpg" alt="" />
        </div>
        <div class="text">
          <h3>NIANG Cheihr</h3>
        </div>
      </div>
      <div class="box">
        <div class="imbox">
          <img src="../assets/images/expert3.jpg" alt="" />
        </div>
        <div class="text">
          <h3>MINH THI Thung</h3>
        </div>
      </div>
      <div class="box">
        <div class="imbox">
          <img src="../assets/images/equipe1.jpg" alt="" />
        </div>
        <div class="text">
          <h3>DEMEURE Pierre</h3>
        </div>
      </div>
    </div>
  </section>
  <section class="temoignage" id="temoignage">
    <div class="titre blanc">
      <h2 class="titre-texte">Que Disent Nos <span>C</span>lients</h2>
      <p>
        L'avis de nos précieux clients du quatre coins du monde comptent plus
        que tout pour nous.
      </p>
    </div>
    <div class="contenu">
      <div class="box">
        <div class="imbox">
          <img src="../assets/images/t1.avif" alt="" />
        </div>
        <div class="text">
          <p>
            Je suis plus que satisfaite des plats de FRAFINA GOUNDO, je suis du
            Niger et n'ayant pas le temps de cuisiner pour ma famille à cause de
            mon travail, je commande tous mes repas chez FRAFINA GOUNDO, mon
            mari, mes enfants et moi même adorions. Grand MERCI à FRAFINA
            GOUNDO!
          </p>
          <h3>AMADOU Malika</h3>
        </div>
      </div>
      <div class="box">
        <div class="imbox">
          <img src="../assets/images/t4.jpg" alt="" />
        </div>
        <div class="text">
          <p>
            Originaire de la france(paris), c'est avec joie que je franchis les
            portes de FRAFINA GOUNDO à chaque fois, car je sais que je ferai la
            decouverte d'un nouveau plat et avec des saveurs à desiré.
          </p>
          <h3>BELL Liz</h3>
        </div>
      </div>
      <div class="box">
        <div class="imbox">
          <img src="../assets/images/chidinma.jpg" alt="" />
        </div>
        <div class="text">
          <p>
            Je suis artiste, et je dois temoigner du fait que lors de mes
            tournées quelques soient le pays, je cherche à rejoindre le
            restaurant FRAFINA GUOUNDO pour assouvir à ma faim.Dedicace à
            FRAFINA GOUNDO!
          </p>
          <h3>EKILE Chidinma</h3>
        </div>
      </div>
    </div>
  </section>
  <section class="contact" id="contact">
    <div class="titre noir">
      <h2 class="titre-text"><span>C</span>ontact</h2>
      <p>Contactez-nous pour tous vos besoins, nous restons à votre écoute.</p>
    </div>
    <div class="contactform">
      <h3>Envoyer un message</h3>
      <div class="inputboite">
        <input type="text" placeholder="Nom" />
      </div>
      <div class="inputboite">
        <input type="text" placeholder="email" />
      </div>
      <div class="inputboite">
        <textarea placeholder="message"></textarea>
      </div>
      <div class="inputboite">
        <button><input type="submit" value="envoyer" /></button>
      </div>
    </div>
  </section>
  <div class="creatrice">
    <p>
      projet Angular Mars 2023 réalisé par <a>DEMBELE Oumou</a>
      l'experte en developpement web en devenir.
    </p>
  </div>
</body>
